* {
	font-family: "Fontawesome";
	font-size: 97%;
	color: white;
	transition-duration: 0s;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
	padding: 1px;
	min-height: 0;
}

window#waybar {
	background: #1b182c;
	opacity: 0.85;
	border-radius: 10px;
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu {
	padding-left: 1rem;
	padding-right: 1rem;
}

#custom-weather {
	padding-left: 2rem;
	font-weight: bold;
}

#workspaces {
	background: #962a54;
	color: white;
	font-weight: bold;
	/* border-radius: 0 1rem 1rem 0; */
	border-radius: 10px;
}

#workspaces button {
	background: transparent;
}

#workspaces button.focused {
	background: #7a2043;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	color: wheat;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
}

#temperature.critical {
	background-color: #ff0000;
}

@keyframes blink {
	to {
		color: #000000;
	}
}

#taskbar button.active {
	background-color: rgb(128, 31, 31);
	border-radius: 8px;
	border: 1px solid grey;
	padding-left: 12px;
	padding-right: 12px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: #22252a;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: #ba5663;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
	background-color: #22252a;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: #ba5663;
}
